// footer

.footer {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 4px 30px;
  background-color: #d0d7ff;
  p,
  address {
    font-size: 1.4em;
    color: #fff;
  }
}