// Nav

.navi {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  min-width: 375px;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45px;
    margin: 0 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    li {
      a {
        display: block;
        padding: 7px;
        .ico {
          position: relative;
          display: inline-block;
          width: 20px;
          height: 20px;
          vertical-align: top;
          &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url(../img/sp_ico.png);
            background-repeat: no-repeat;
            background-size: 150px 150px;
          }
        }
        span {
          display: inline-block;
          vertical-align: top;
        }
        &:hover {
          span {
            color: #9aaaff;
          }
        }
      }
      &.home {
        a {
          .ico {
            &:before {
              width: 20px;
              height: 20px;
              background-position: 0 -27px;
            }
          }
          &:hover {
            .ico {
              &:before {
                background-position: 0 -52px;
              }
            }
          }
        }
      }
      &.profile {
        a {
          .ico {
            &:before {
              width: 17.5px;
              height: 20px;
              background-position: -25px -27px;
            }
          }
          &:hover {
            .ico {
              &:before {
                background-position: -25px -52px;
              }
            }
          }
        }
      }
      &.skills {
        a {
          .ico {
            &:before {
              width: 20px;
              height: 20px;
              background-position: -47.5px -27px;
            }
          }
          &:hover {
            .ico {
              &:before {
                background-position: -47.5px -52px;
              }
            }
          }
        }
      }
      &.works {
        a {
          .ico {
            &:before {
              width: 13px;
              height: 20px;
              background-position: -72.5px -27px;
            }
          }
          &:hover {
            .ico {
              &:before {
                background-position: -72.5px -52px;
              }
            }
          }
        }
      }
      &.career {
        a {
          .ico {
            &:before {
              width: 20px;
              height: 15px;
              background-position: -90.5px -27px;
            }
          }
          &:hover {
            .ico {
              &:before {
                background-position: -90.5px -52px;
              }
            }
          }
        }
      }
      &.lab {
        a {
          .ico {
            &:before {
              width: 18.5px;
              height: 20px;
              background-position: -115.5px -27px;
            }
          }
          &:hover {
            .ico {
              &:before {
                background-position: -115.5px -52px;
              }
            }
          }
        }
      }
      &.is_active {
        &.home {
          .ico {
            &:before {
              background-position: 0 -52px;
            }
          }
        }
        &.profile {
          .ico {
            &:before {
              background-position: -25px -52px;
            }
          }
        }
        &.skills {
          .ico {
            &:before {
              background-position: -47.5px -52px;
            }
          }
        }
        &.works {
          .ico {
            &:before {
              background-position: -72.5px -52px;
            }
          }
        }
        &.career {
          .ico {
            &:before {
              background-position: -90.5px -52px;
            }
          }
        }
        &.lab {
          .ico {
            &:before {
              background-position: -115.5px -52px;
            }
          }
        }
        span {
          color: #9aaaff;
        }
      }
    }
  }
  .button_link {
    display: none;
    margin: 10px 20px 0;
    padding: 5px 0;
    border-radius: 10px;
    background-color: #f2f4ff;
    font-size: 16px;
    font-weight: bold;
    color: #9aaaff;
    text-align: center;
    text-decoration: none;
  }
}