// 최상단
.portfolio {
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
}

// Profile
.my_profile {
  display: none;
  margin: 20px 0 35px 20px;
  .thumb {
    margin: 0 0 8px;
  }
  .my_job {
    span {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      & + span {
        font-size: 1.2em;
        color: #bbb;
      }
    }
    .my_name {
      font-size: 1.3em;
      font-weight: bold;
      color: #668aff;
    }
  }
}

// Navi myBox
.my_box {
  display: none;
  width: auto;
  height: 276px;
  margin: 25px 20px 0 20px;
  background-color: #d2d9ff;
  border-radius: 10px;
}

// Header
.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 40px;
  margin: 0 20px;
  h1 {
    font-family: "Black Han Sans", sans-serif;
    font-size: 1.6em;
    color: #668aff;
    a {
      display: block;
      text-decoration: none;
    }
    .ico {
      display: inline-block;
      width: 23px;
      height: 23px;
      margin-right: 5px;
      background-image: url(../img/sp_ico.png);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 150px 150px;
      vertical-align: top;
    }
  }
}

// Content
.content {
  height: 100%;
  padding-top: 40px;
  padding-bottom: 85px;
  section {
    height: 100%;
    margin: 0 20px;
    padding: 20px 10px 20px 20px;
    background-color: #fff;
    border-radius: 10px;
    word-break: break-all;
    word-wrap: break-word;
    .content_box {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 0;
      .career_year {
        display: none;
        overflow-y: auto;
        margin-bottom: 10px;
        &::-webkit-scrollbar {
          width: 7px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #9aaaff;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
          background-color:#f2f4ff;
        }
        ul {
          position: relative;
          li {
            position: relative;
            padding-left: 100px;
            padding-bottom: 15px;
            strong {
              font-size: 16px;
              color: #668aff;  
            }
            p {
              font-size: 16px;
              font-weight: bold;
              color: #c7c7c7;
            }
            .year {
              position: absolute;
              top: 0;
              left: 0;
              font-size: 16px;
              font-weight: bold;
              color: #668aff;
            }
            &:before {
              content: '';
              position: absolute;
              top: 5px;
              left: 68px;
              width: 3px;
              height: 100%;
              background-color: #bcc6ff;
            }
            &:after {
              content: '';
              position: absolute;
              top: 5px;
              left: 60px;
              width: 19px;
              height: 19px;
              border-radius: 100%;
              background-color:#bcc6ff;
              z-index: 1;
            }
            &:last-child {
              padding-bottom: 0;
              &:before {
                content: none;
              }
            }
            ul {
              li {
                padding-left: 0;
                padding-bottom: 0;
                &:before,
                &:after {
                  content: none;
                }
              }
            }
          }
        }
      }
      .career_description {
        overflow-y: auto;
        background-color: #fff;
        border-radius: 10px;
        &::-webkit-scrollbar {
          width: 7px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #9aaaff;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
          background-color:#f2f4ff;
        }
        h2 {
          font-size: 20px;
          color: #668aff
        }
        .career_content {
          margin-top: 10px;
          h3 {
            margin-bottom: 10px;
            font-size: 13px;
            color: #668aff;
          }
          dl {
            overflow: hidden;
            dt,
            dd {
              overflow: hidden;
              font-size: 13px;
              color: #668aff;
              word-break: break-word;
            }
            dt {
              position: relative;
              float: left;
              min-width: 75px;
              padding-left: 10px;
              padding-right: 5px;
              &:before {
                content: '-';
                position: absolute;
                top: 0;
                left: 0;
              }
              &:after {
                content: ':';
                position: absolute;
                top: 0;
                right: 5px;
              }
              &.depth {
                float: none;
                padding-right: 0;
                & + dd {
                  padding-left: 10px;
                }
                &:after {
                  content: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Nav
.navi {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  min-width: 375px;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45px;
    margin: 0 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    li {
      a {
        display: block;
        padding: 7px;
        .ico {
          position: relative;
          display: inline-block;
          width: 20px;
          height: 20px;
          vertical-align: top;
          &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url(../img/sp_ico.png);
            background-repeat: no-repeat;
            background-size: 150px 150px;
          }
        }
        span {
          display: inline-block;
          vertical-align: top;
        }
        &:hover {
          span {
            color: #9aaaff;
          }
        }
      }
      &.home {
        a {
          .ico {
            &:before {
              width: 20px;
              height: 20px;
              background-position: 0 -27px;
            }
          }
          &:hover {
            .ico {
              &:before {
                background-position: 0 -52px;
              }
            }
          }
        }
      }
      &.profile {
        a {
          .ico {
            &:before {
              width: 17.5px;
              height: 20px;
              background-position: -25px -27px;
            }
          }
          &:hover {
            .ico {
              &:before {
                background-position: -25px -52px;
              }
            }
          }
        }
      }
      &.skills {
        a {
          .ico {
            &:before {
              width: 20px;
              height: 20px;
              background-position: -47.5px -27px;
            }
          }
          &:hover {
            .ico {
              &:before {
                background-position: -47.5px -52px;
              }
            }
          }
        }
      }
      &.works {
        a {
          .ico {
            &:before {
              width: 13px;
              height: 20px;
              background-position: -72.5px -27px;
            }
          }
          &:hover {
            .ico {
              &:before {
                background-position: -72.5px -52px;
              }
            }
          }
        }
      }
      &.career {
        a {
          .ico {
            &:before {
              width: 20px;
              height: 15px;
              background-position: -90.5px -27px;
            }
          }
          &:hover {
            .ico {
              &:before {
                background-position: -90.5px -52px;
              }
            }
          }
        }
      }
      &.lab {
        a {
          .ico {
            &:before {
              width: 18.5px;
              height: 20px;
              background-position: -115.5px -27px;
            }
          }
          &:hover {
            .ico {
              &:before {
                background-position: -115.5px -52px;
              }
            }
          }
        }
      }
      &.is_active {
        &.home {
          .ico {
            &:before {
              background-position: 0 -52px;
            }
          }
        }
        &.profile {
          .ico {
            &:before {
              background-position: -25px -52px;
            }
          }
        }
        &.skills {
          .ico {
            &:before {
              background-position: -47.5px -52px;
            }
          }
        }
        &.works {
          .ico {
            &:before {
              background-position: -72.5px -52px;
            }
          }
        }
        &.career {
          .ico {
            &:before {
              background-position: -90.5px -52px;
            }
          }
        }
        &.lab {
          .ico {
            &:before {
              background-position: -115.5px -52px;
            }
          }
        }
        span {
          color: #9aaaff;
        }
      }
    }
  }
}

// Aside
.aside {
  display: none;
  position: relative;
  width: 215px;
  margin: 20px;
  .my_info {
    .thumb {
      width: 180px;
      height: 200px;
      //TODO: 임시 BG 적용으로 이후 사진으로 대체.
      background-color: #d2d9ff;
      border-radius: 10px;
    }
    .personal_info {
      margin: 10px 0 0 0;
      span {
        display: block;
        & + span {
          overflow: hidden;
          margin-top: 7px;
          font-size: 1.4em;
          color: #bbb;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .my_name {
        font-size: 2.1em;
        font-weight: bold;
        color: #668aff;
      }
    }
    .detail_info {
      margin: 22px 0 0 0;
      line-height: 22px;
      dt,
      dd {
        font-size: 1.2em;
        color: #5d5d5d;
      }
      dt {
        clear: both;
        position: relative;
        float: left;
        min-width: 65px;
        padding-left: 10px;
        &:before {
          content: "";
          position: absolute;
          top: 9px;
          left: 0;
          width: 5px;
          height: 5px;
          background-color: #d2d9ff;
          border-radius: 100%;
        }
      }
      dd {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  .button_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 21px;
    height: 21px;
    // TODO : 삭제 필요함.
    background-color: red;
    border-radius: 10px;
    cursor: pointer;
  }
}

// footer
.footer {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 4px 30px;
  background-color: #d0d7ff;
  p,
  address {
    font-size: 1.4em;
    color: #fff;
  }
}

@media screen and (min-width: 769px) {
  body {
    background-color: #fff;
  }
  .portfolio {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    .header {
      display: none;
    }
    .navi {
      position: inherit;
      max-width: 200px;
      min-width: auto;
      ul {
        display: block;
        height: auto;
        box-shadow: none;
        li {
          line-height: 1.8em;
          a {
            padding: 10px 0;
            font-size: 1.8em;
            font-weight: bold;
            color: #d6d6d6;
            .ico {
              margin-right: 18px;
            }
          }
        }
      }
    }
    .content {
      flex: 1;
      padding-top: 0;
      padding-bottom: 0;
      section {
        margin: 0;
        .content_box {
          padding: 20px;
          background-color: #f2f4ff;
          border-radius: 10px;
        }
        .career_year {
          display: block;
        }
        .career_description {
          min-height: 600px;
          padding: 15px;
        }
      }
    }
    .my_profile,
    .my_box,
    .aside {
      display: block;
    }
  }
  .footer {
    display: block;
  }
}

@media screen and (max-width: 1280px) {
  .portfolio {
    .aside {
      display: none;
    }
  }
}