.notice_list {
    ul {
        li {
            padding: 20px 0 28px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.06);
            &:last-child {
                border-bottom: 0;
            }
            .notice_box {
                position: relative;
                padding-left: 29px;
                padding-right: 29px;
                &:before {
                    content: '';
                    position: absolute;
                    top: 1px;
                    left: 3px;
                    @include background(18px, 18px, -142px, -88px)
                }
                h3 {
                    font-size: 15px;
                    font-weight: 900;
                    line-height: 22px;
                    letter-spacing: -0.23px;
                    word-break: keep-all;
                    word-wrap: break-word;
                    @include ellipsis(3);
                }
                .notice_write_date {
                    display: block;
                    margin-top: 10px;
                    font-size: 11px;
                    font-weight: bold;
                    letter-spacing: -0.17px;
                    color: rgba(0, 0, 0, 0.38);
                    line-height: 16px;
                }
                .notice_content {
                    margin-top: 20px;
                    font-size: 13px;
                    font-weight: bold;
                    color: rgba(0, 0, 0, 0.6);
                    line-height: 24px;
                    letter-spacing: -0.2px;
                    word-break: keep-all;
                    word-wrap: break-word;
                }
            }
        }
    }
}