/*----- Reply -----*/

.SN_reply_wrap{
  position:relative;
  box-sizing:border-box;
  .reply_count{
    position:relative;
    margin-bottom:10px;
    strong{
      display:block;
      font-size:16px;
      font-weight:900;
      line-height:21px;
      letter-spacing:-.8px;
      >em{
        color:#4890f4;
      }
    }
  }
  .reply_inpbox{
    position:relative;
    box-sizing:border-box;
    border:1px solid #d3d3d3;
    background:#fff;
    border-radius:4px;
    overflow:hidden;
    .reply_inputbox{
      position:relative;
      padding:12px;
      box-sizing:border-box;
      min-height:120px;
      font-size:12px;
      line-height:19px;
      color:#4a4a4a;
      outline:0;
    }
    .reply_placeholder{
      position:absolute;
      top:12px;
      left:12px;
      font-size:12px;
      line-height:19px;
      color:#b5b5b5;
    }
  }
  .reply_submitbox{
    position:relative;
    margin-top:6px;
    .SN_btn{
      height:27px;
      padding: 0 10px;
      border:1px solid #d3d3d3;
      font-size:12px;
      line-height:27px;
      &:hover{
        border-color:#4d4d4d;
        box-shadow:0 2px 4px rgba(0,0,0,.15);
      }
      >em{
        color:#1c90fb;
      }
      &.type_select{
        padding-right:24px;
        &:after{
          content:'';
          position:absolute;
          top:50%;
          right:8px;
          margin-top:-3px;
          width:11px;
          height:6px;
          background:url($spimg_url) -233px -81px no-repeat;
          background-size:$spimg_size;
        }
      }
    }
    .btngroup{
      button{
        +button{
          margin-left:4px;
        }
      }
    }
  }
  .comment_inputbox{
    .btnbox{
      text-align:right;
    }
    .SN_btn{
      height:38px;
      margin-top:10px;
      padding:0 20px;
      line-height:39px;
    }
  }
  .comment_listbox{
    position:relative;
    margin-top:20px;
    padding-top:20px;
    border-top:1px solid #eee;
  }

  .replyitem{
    position:relative;
    padding-left:49px;
    box-sizing:border-box;
    +.replyitem{margin-top:40px;}
    .reply_profile{
      position:relative;
      margin-bottom:7px;
      padding-top:5px;
      padding-right:50px;
      .reply_name{
        display:block;
        font-size:14px;
        font-weight:900;
        line-height:16px;
        letter-spacing:-.7px;
        color:#000;
      }
      .reply_date{
        position:relative;
        display:block;
        margin-top:2px;
        font-size:11px;
        line-height:14px;
        color:#777;
      }
    }
    .SN_profile{
      position:absolute;
      top:0;
      left:0;
      width:42px;
      height:42px;
      background-color:#accfec;
    }
    .reply_inputbox{
      font-size:13px;
      line-height:18px;
      letter-spacing:-.65px;
      color:#525252;
    }
    .reply_funcbtn{
      position:absolute;
      top:12px;
      right:0;
      .icobtn{
        position:relative;
        display:inline-block;
        vertical-align:top;
        width:18px;
        height:18px;
        border:0;
        background:0 0;
        +button{
          margin-left:4px;
        }
        &:after{
          content:'';
          position:absolute;
          top:50%;
          left:50%;
          margin-top:-8px;
          margin-left:-7px;
          width:14px;
          height:15px;
          background:url($spimg_url) 0 0 no-repeat;
          background-size:$spimg_size;
          line-height:100em;
          overflow:hidden;
        }
        &.ico1{
          &:after{
            width:13px;
            height:13px;
            margin-top:-7px;
            background-position:-139px -177px;
          }
        }
        &.ico2{
          &:after{
            background-position:-213px -106px;;
          }
        }
      }
    }
    &.open{
      .reply_submitbox{
        .SN_btn{
          &.type_select{
            &:after{
              transform:rotate(180deg);
            }
          }
        }
      }
      .replyitem_subbox{
        display:block;
      }
    }
  }
  .replyitem_subbox{
    position:relative;
    display:none;
    .replyitem{
      margin-top:20px;
      padding-left:37px;
      .SN_profile{
        width:30px;
        height:30px;
      }
      .reply_subinp{
        position:relative;
        overflow:hidden;
        clear:both;
        .inpwrap{
          position:relative;
          float:left;
          width:calc(100% - 49px);
          .counttxt{
            position:absolute;
            top:50%;
            right:12px;
            margin-top:-8px;
            font-size:11px;
            font-weight:bold;
            line-height:18px;
            color:#b4b4b4;
          }
          >input{
            display:block;
            padding:0 70px 0 8px;
            box-sizing:border-box;
            width:100%;
            height:30px;
            border:1px solid #d3d3d3;
            background:#fff;
            border-radius:4px;
            font-size:14px;
            line-height:31px;
            color:#4a4a4a;
          }
        }
        .SN_btn{
          float:right;
          margin-left:4px;
          padding:0;
          box-sizing:border-box;
          width:45px;
          border:1px solid #d3d3d3;
          &:hover{
            border-color:#4d4d4d;
            box-shadow:0 2px 4px rgba(0,0,0,.15);
          }
        }
      }
    }
  }
}
