@font-face {
    font-family: 'douzone';
    src: local('DOUZONEText10'),
    url('/fonts/douzone/DOUZONEText10.woff2') format('woff2'),
    url('/fonts/douzone/DOUZONEText10.woff') format('woff');
    font-weight: 300;
    font-display: fallback;
}

@font-face {
  font-family: 'douzone';
  src: local('DOUZONEText30'),
  url('/fonts/douzone/DOUZONEText30.woff2') format('woff2'),
  url('/fonts/douzone/DOUZONEText30.woff') format('woff');
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'douzone';
  src: local('DOUZONEText50'),
  url('/fonts/douzone/DOUZONEText50.woff2') format('woff2'),
  url('/fonts/douzone/DOUZONEText50.woff') format('woff');
  font-weight: 700;
  font-display: fallback;
}

@font-face {
  font-family: 'douzonetitle';
  src: local('DOUZONETitle30'),
  url('/fonts/douzone/DOUZONETitle30.woff2') format('woff2'),
  url('/fonts/douzone/DOUZONETitle30.woff') format('woff');
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'douzonetitle';
  src: local('DOUZONETitle50'),
  url('/fonts/douzone/DOUZONETitle50.woff2') format('woff2'),
  url('/fonts/douzone/DOUZONETitle50.woff') format('woff');
  font-weight: 700;
  font-display: fallback;
}