@mixin flex {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
}
@mixin background {
    background: url(https://static.wehago.com/imgs/ionyou/sp_ionyou.png) no-repeat;
    background-size: 200px 200px;
    -webkit-background-size: 200px 200px;
}
@mixin clearfix {
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}
@mixin ellipsis($line: 1) {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
}