body{position:relative;min-width:375px;margin:0;background:#fff;font-size:14px;line-height:1.5;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;text-size-adjust:none;overflow-wrap:break-word;word-wrap:break-word}
*,::after,::before{-webkit-box-sizing:border-box;box-sizing:border-box}
.blind{position:absolute;width:1px;height:1px;font-size:1px;overflow:hidden;opacity:0}
.ko-KR{font-family:'Noto Sans KR','Apple SD Gothic Neo',NanumBarunGothic,NanumGothic,'Malgun Gothic',dotum,sans-serif;word-break:keep-all}
img{max-width:100%;height:auto}
ol,ul{margin:0;padding:0;list-style:none}
p{margin:0}
a{color:inherit;text-decoration:none}
.portfolio__gnb{display:-webkit-box;display:-ms-flexbox;display:flex;margin-left:auto;margin-right:auto;padding-left:8px;padding-right:8px;border-top:15px solid #fff;border-bottom:15px solid #fff}
.portfolio__home{padding-left:8px;padding-right:8px}
.portfolio__home .content__title{text-align:right}
.portfolio__home .content__title h2{margin:0;font-family:"Black Han Sans",sans-serif;font-size:30px;color:#036635}
.portfolio__home .content__title p{font-size:16px;color:#000}
.portfolio__home .content__slide{padding-top:15px}
.portfolio__home .content__slide .swiper{width:100%;height:100%}
.portfolio__home .content__slide .swiper .swiper-slide{overflow:hidden;border-radius:15px;background:#11998e;background:-webkit-gradient(linear,left top,left bottom,from(#38ef7d),to(#11998e));background:-o-linear-gradient(top,#38ef7d,#11998e);background:linear-gradient(to bottom,#38ef7d,#11998e)}
.portfolio__home .content__slide .swiper.innerSlide{overflow:hidden;width:calc(100% - 40px);padding-top:20px;border-radius:12px}
.portfolio__home .content__slide .swiper.innerSlide .thumb img{width:100%;height:100%;vertical-align:top}
.portfolio__home .content__slide .swiper.innerSlide .swiper-button-next,.portfolio__home .content__slide .swiper.innerSlide .swiper-button-prev{color:#fff}
.portfolio__home .content__slide .swiper--box{padding:20px}
.portfolio__home .content__slide .swiper--content h3{margin:0;color:#fff;font-size:16px}
.portfolio__home .content__slide .swiper--content dl{margin:0}
.portfolio__home .content__slide .swiper--content dl dd,.portfolio__home .content__slide .swiper--content dl dt{color:#fff}
.portfolio__home .content__slide .swiper--content dl dt{min-width:90px;float:left}
.portfolio__home .content__slide .swiper--content dl dd{overflow:hidden;white-space:nowrap;text-align:right;-o-text-overflow:ellipsis;text-overflow:ellipsis}
.portfolio__home .content__slide .swiper--button{padding:20px 0 0;text-align:center}
.portfolio__home .content__slide .swiper--button .more__button{display:block;padding:10px;background:#fff;border:0;border-radius:12px;-webkit-appearance:none;-moz-appearance:none;appearance:none}
.gnb{margin-left:20px}
.gnb__logo{overflow:hidden;width:48px;height:48px;border-radius:100%;background-color:#ff0}
.gnb__logo img{width:100%;height:100%}
.gnb__list{display:-webkit-box;display:-ms-flexbox;display:flex}
.gnb__item{margin-right:8px}
.gnb__link{display:inline-block;position:relative;padding:0 8px;font-size:14px;font-weight:500;color:#000;line-height:48px;text-align:center}
.drawer{margin-left:auto}
.drawer .nav__button{overflow:hidden;position:relative;width:48px;height:48px;padding:0 16px;border:0;background:0 0;color:transparent;white-space:nowrap;text-align:left;line-height:48px;-webkit-tap-highlight-color:initial}
.drawer .nav__button::after{content:'';position:absolute;height:2px;top:18px;left:16px;right:16px;vertical-align:top;background:#000;-webkit-box-shadow:0 5px #000,0 10px #000;box-shadow:0 5px #000,0 10px #000}
/*# sourceMappingURL=maps/portfolio.css.map */
