// claerfix
@mixin clearfix {
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

// 말줄임
@mixin ellipsis($line: 1) {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
}
