.portfolio {
    &__gnb {
        display: flex;
        // display: grid;
        // grid: 48px / 48px auto 48px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 8px;
        padding-right: 8px;
        border-top: 10px solid #fff;
        border-bottom: 10px solid #fff;
    }
    &__home {
        height: 100%;
        padding-left: 8px;
        padding-right: 8px;
        .content {
            &__title {
                text-align: right;
                h2 {
                    margin: 0;
                    font-family: "Black Han Sans", sans-serif;
                    font-size: 30px;
                    color: #036635;
                }
                p {
                    font-size: 16px;
                    color: #000;
                }
            }
            &__slide {
                padding-top: 5px;
                padding-bottom: 15px;
                .swiper-container {
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                    .swiper-slide {
                        overflow: hidden;
                        padding: 0 20px;
                        border-radius: 15px;
                        background: #11998e;
                        background: linear-gradient(to bottom, #38ef7d, #11998e);
                    }
                    .innerSlide {
                        overflow: hidden;
                        position: relative;
                        width: 100%;
                        padding-top: 20px;
                        border-radius: 12px;
                        .thumb {
                            img {
                                width: 100%;
                                height: 100%;
                                max-height: 295px;
                                vertical-align: top;
                            }
                            .not-img {
                                display: table;
                                width: 100%;
                                height: 295px;
                                background-color: #fff;
                                p {
                                    display: table-cell;
                                    font-size: 20px;
                                    color: #000;
                                    text-align: center;
                                    vertical-align: middle;
                                }
                            }
                        }
                        .swiper-slide {
                            padding: 0;
                        }
                        .swiper-button-next,
                        .swiper-button-prev {
                            color: #000;
                            // Navigation Bug fix.
                            backface-visibility: hidden; 
                            transform: translateZ(0); 
                            transform: translate3d(0, 0, 0);
                        }
                        &--box {
                            padding: 10px 0;
                            min-height: 175px;
                            a {
                                text-decoration: underline;
                            }
                        }
                        &--content {
                            min-height: 120px;
                            h3 {
                                margin: 0 0 5px 0;
                                color: #fff;
                                font-size: 16px;
                            }
                            dl {
                                margin: 0;
                                dt, dd {
                                    color: #fff;
                                }
                                dt {
                                    min-width: 70px;
                                    float: left;
                                }
                                dd {
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-align: right;
                                    text-overflow: ellipsis;
                                    ul {
                                        li {
                                            overflow: hidden;
                                            white-space: nowrap;
                                            text-align: right;
                                            text-overflow: ellipsis;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .pFaccordion {
            &__faq {
                position: relative;
                margin-bottom: 15px;
            }
            &__contentWrap {
                padding: 10px;
            }
            &__title {
                position: relative;
                width: 100%;
                padding: 10px 10px 10px 45px;
                background: #f0f2f5;
                border: 0;
                font-family: 'Noto Sans KR','Apple SD Gothic Neo',NanumBarunGothic,NanumGothic,'Malgun Gothic',dotum,sans-serif;
                font-size: 15px;
                font-weight: bold;
                color: #333;
                text-align: left;
                appearance: none;
                &:before {
                    position: absolute;
                    top: 50%;
                    left: 12px;
                    margin-top: -10px;
                    background-image: url(../img/plus-circle.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 20px;
                    display: block;
                    width: 20px;
                    height: 20px;
                    content: '';
                }
            }
            &__content {
                border-left: 1px solid #f0f2f5;
                border-right: 1px solid #f0f2f5;
            }
            &__section {
                &:first-of-type {
                    .pFaccordion__title {
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                    }
                }
                &:last-of-type {
                    .pFaccordion__content {
                        border-bottom: 1px solid #f0f2f5;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                }
                .pFaccordion__content {
                    display: none;
                    transition: all .3s ease;
                }
                button[aria-expanded='true'] {
                    &:before {
                        background-image: url(../img/minus-circle.svg);
                    }
                    & + .pFaccordion__content {
                        display: block;
                    }
                }
            }
        }
    }
}

.gnb {
    margin-left: 20px;
    &__logo {
        overflow: hidden;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background-color: yellow;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__list {
        display: flex;
    }
    &__item {
        margin-right: 8px;
    }
    &__link {
        display: inline-block;
        position: relative;
        padding: 0 8px;
        font-size: 14px;
        font-weight: 500;
        color: #000;
        line-height: 48px;
        text-align: center;
    }
}

.nav {
    &__button {
        margin-left: auto;
        overflow: hidden;
        position: relative;
        width: 48px;
        height: 48px;
        padding: 0 16px;
        border: 0;
        background: transparent;
        color: transparent;
        white-space: nowrap;
        text-align: left;
        line-height: 48px;
        -webkit-tap-highlight-color: initial;
        &::after {
            content: '';
            position: absolute;
            height: 2px;
            top: 18px;
            left: 16px;
            right: 16px;
            vertical-align: top;
            background: #000;
            box-shadow: 0 5px #000, 0 10px #000;
        }
    }
    &__profile {
        display: none;
        position: absolute;
        top: 64px;
        right: 16px;
        width: 300px;
        transform-origin: 100% 0;
        background-color: #fff;
        box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
        z-index: 10;
        &.nav__profile--active {
            display: block;
        }
    }
    &__closeBtn {
        overflow: hidden;
        position: relative;
        float: right;
        width: 48px;
        height: 48px;
        padding-top: 48px;
        color: transparent;
        border: 0;
        background-color: transparent;
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            width: 18px;
            height: 2px;
            background: #000;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
    &__log {
        padding-top: 50px;
    }
}

.my-profile {
    &__card {
        text-align: center;
    }
    &__name {
        margin: 10px 0;
    }
    &__city {
        margin: 5px 0;
        font-size: 11px;
    }
    &__description {
        margin: 10px 0;
        font-size: 14px;
        color: #313131;
    }
    &__pic {
        padding: 7px;
        border: 1px solid #d3d3d3;
        border-radius: 50%;
        vertical-align: top;
    }
    &__skills {
        padding: 12px 6px;
        margin-top: 30px;
        background: #1c1c1c;
        color: #a0a0a0;
        text-align: left;
    }
    &__title {
        padding: 0 7px;
        margin: 0 0 10px;
        font-size: 13px;
        text-transform: uppercase;
    }
    &__item {
        display: inline-block;
        margin: 0 5px 5px;
        padding: 7px;
        border: 1px solid #343434;
        border-radius: 3px;
        font-size: 12px;
    }
}

@media (min-width: 1279px) {
    .content {
        &__slide {
            margin: 0 -8px;
        }
    }
    .swiper-wrapper {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        .swiper-slide {
            width: calc(33.33333% - 16px);
            margin: 10px 8px 0;
            .innerSlide {
                .swiper-wrapper {
                    flex-wrap: nowrap;
                    .swiper-slide {
                        margin: 0;
                    }
                }
            }
        }
    }
}