.header__gnb {
    display: grid;
    grid: 48px / 48px auto 48px;
    margin-left: auto;
    margin-right: auto;
    border-top: 15px solid #fff;
    border-bottom: 15px solid #fff;
}

.gnb__logo {
    width: 48px;
    height: 48px;
    background-color: yellow;
}
.gnb {
    margin-left: 20px;
}
.gnb__list {
    display: flex;
}
.gnb__item {
    margin-right: 8px;
}
.gnb__link {
    display: inline-block;
    position: relative;
    padding: 0 8px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    line-height: 48px;
    text-align: center;
}

.drawer {
    margin-left: auto;
    .nav__button {
        overflow: hidden;
        position: relative;
        width: 48px;
        height: 48px;
        padding: 0 16px;
        border: 0;
        background: transparent;
        color: transparent;
        white-space: nowrap;
        text-align: left;
        line-height: 48px;
        -webkit-tap-highlight-color: initial;
        &::after {
            content: '';
            position: absolute;
            height: 2px;
            top: 18px;
            left: 16px;
            right: 16px;
            vertical-align: top;
            background: #000;
            box-shadow: 0 5px #000, 0 10px #000;
        }
    }
}