.portfolio {
    &__gnb {
        display: flex;
        // display: grid;
        // grid: 48px / 48px auto 48px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 8px;
        padding-right: 8px;
        border-top: 15px solid #fff;
        border-bottom: 15px solid #fff;
    }
    &__home {
        padding-left: 8px;
        padding-right: 8px;
        .content {
            &__title {
                text-align: right;
                h2 {
                    margin: 0;
                    font-family: "Black Han Sans", sans-serif;
                    font-size: 30px;
                    color: #036635;
                }
                p {
                    font-size: 16px;
                    color: #000;
                }
            }
            &__slide {
                padding-top: 15px;
                .swiper {
                    width: 100%;
                    height: 100%;
                    .swiper-slide {
                        overflow: hidden;
                        border-radius: 15px;
                        background-color: #036635;
                    }
                    &--content {
                        padding: 20px;
                        h3 {
                            margin: 0;
                            color: #000;
                            font-size: 16px;
                        }
                        dl {
                            margin: 0;
                            dt {
                                min-width: 90px;
                                float: left;
                            }
                            dd {
                                overflow: hidden;
                                white-space: nowrap;
                                text-align: right;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                }
            }
        }
    }
}

.gnb {
    margin-left: 20px;
    &__logo {
        overflow: hidden;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background-color: yellow;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__list {
        display: flex;
    }
    &__item {
        margin-right: 8px;
    }
    &__link {
        display: inline-block;
        position: relative;
        padding: 0 8px;
        font-size: 14px;
        font-weight: 500;
        color: #000;
        line-height: 48px;
        text-align: center;
    }
}

.drawer {
    margin-left: auto;
    .nav__button {
        overflow: hidden;
        position: relative;
        width: 48px;
        height: 48px;
        padding: 0 16px;
        border: 0;
        background: transparent;
        color: transparent;
        white-space: nowrap;
        text-align: left;
        line-height: 48px;
        -webkit-tap-highlight-color: initial;
        &::after {
            content: '';
            position: absolute;
            height: 2px;
            top: 18px;
            left: 16px;
            right: 16px;
            vertical-align: top;
            background: #000;
            box-shadow: 0 5px #000, 0 10px #000;
        }
    }
}