@charset "UTF-8";
@font-face{font-family:douzone;src:local("DOUZONEText10"),url(https://static.wehago.com/fonts/douzone/DOUZONEText10.woff2) format("woff2"),url(https://static.wehago.com/fonts/douzone/DOUZONEText10.woff) format("woff");font-weight:400;font-display:fallback}
@font-face{font-family:douzone;src:local("DOUZONEText30"),url(https://static.wehago.com/fonts/douzone/DOUZONEText30.woff2) format("woff2"),url(https://static.wehago.com/fonts/douzone/DOUZONEText30.woff) format("woff");font-weight:700;font-display:fallback}
@font-face{font-family:douzone;src:local("DOUZONEText50"),url(https://static.wehago.com/fonts/douzone/DOUZONEText50.woff2) format("woff2"),url(https://static.wehago.com/fonts/douzone/DOUZONEText50.woff) format("woff");font-weight:900;font-display:fallback}
@font-face{font-family:douzonetitle;src:local("DOUZONETitle30"),url(https://static.wehago.com/fonts/douzone/DOUZONETitle30.woff2) format("woff2"),url(https://static.wehago.com/fonts/douzone/DOUZONETitle30.woff) format("woff");font-weight:400;font-display:fallback}
@font-face{font-family:douzonetitle;src:local("DOUZONETitle50"),url(https://static.wehago.com/fonts/douzone/DOUZONETitle50.woff2) format("woff2"),url(https://static.wehago.com/fonts/douzone/DOUZONETitle50.woff) format("woff");font-weight:700;font-display:fallback}
@font-face{font-family:'Nanum Square';font-style:normal;font-weight:400;src:url(https://static.wehago.com/fonts/NanumSquare/NanumSquareR.eot);src:local("Nanum Square Regular"),local("NanumSquareR"),url(https://static.wehago.com/fonts/NanumSquare/NanumSquareR.eot?#iefix) format("embedded-opentype"),url(https://static.wehago.com/fonts/NanumSquare/NanumSquareR.woff2) format("woff2"),url(https://static.wehago.com/fonts/NanumSquare/NanumSquareR.woff) format("woff"),url(https://static.wehago.com/fonts/NanumSquare/NanumSquareR.ttf) format("truetype")}
@font-face{font-family:'Nanum Square';font-style:normal;font-weight:700;src:url(https://static.wehago.com/fonts/NanumSquare/NanumSquareB.eot);src:local("Nanum Square Bold"),local("NanumSquareB"),url(https://static.wehago.com/fonts/NanumSquare/NanumSquareB.eot?#iefix) format("embedded-opentype"),url(https://static.wehago.com/fonts/NanumSquare/NanumSquareB.woff2) format("woff2"),url(https://static.wehago.com/fonts/NanumSquare/NanumSquareB.woff) format("woff"),url(https://static.wehago.com/fonts/NanumSquare/NanumSquareB.ttf) format("truetype")}
*{font-family:douzone,"Microsoft YaHei","PingFang SC","MS PGothic","Hiragino Kaku Gothic ProN","굴림",gulim,"Apple SD Gothic Neo",sans-serif;box-sizing:border-box;-webkit-box-sizing:border-box}
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,img,input,legend,li,ol,p,select,table,td,textarea,th,ul{margin:0;padding:0}
select{outline:0}
body{background-color:#fff;-webkit-text-size-adjust:none}
fieldset,img{border:0;vertical-align:top}
address,em{font-style:normal}
li,ol,ul{list-style:none}
textarea{-webkit-backface-visibility:hidden;backface-visibility:hidden;background-color:transparent;border:0;word-break:keep-all;word-wrap:break-word}
button{-moz-appearance:none;appearance:none;-webkit-appearance:none;background-color:transparent;border:0}
.blind{position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;margin:-1px;overflow:hidden}
a{text-decoration:none}
a:hover{text-decoration:none}
a:active,a:visited{color:#191919}
button{cursor:pointer;border:0;background-color:#fff}
button:active,button:focus{outline:0}
.dimmed{display:none;position:fixed;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,.7);z-index:10}
.coach_mark{display:none;position:absolute;top:0;left:0;right:0;bottom:0;z-index:20}
.coach_mark .coach_mark_box{display:table;width:100%;height:100%;text-align:center}
.coach_mark .coach_mark_box .coach_mark_thumb{display:table-cell;vertical-align:middle}
.coach_mark .coach_mark_box p{margin-top:20px;font-size:14px;color:#fff;letter-spacing:-.21px;line-height:20px}
.coach_mark .coach_mark_box p strong{font-weight:900}
.coach_mark .coach_mark_close{position:absolute;top:3px;left:15px;padding:12px;background-color:transparent}
.coach_mark .coach_mark_close:before{content:'';display:inline-block;vertical-align:middle;background-image:url(/imgs/gft/mobile/sp_gift.png);width:14px;height:14px;background-position:0 -63px;background-size:100px 100px;-webkit-background-size:100px 100px}
.mt_1{margin-top:1px!important}
.mb_1{margin-bottom:1px!important}
.mt_2{margin-top:2px!important}
.mb_2{margin-bottom:2px!important}
.mt_3{margin-top:3px!important}
.mb_3{margin-bottom:3px!important}
.mt_4{margin-top:4px!important}
.mb_4{margin-bottom:4px!important}
.mt_5{margin-top:5px!important}
.mb_5{margin-bottom:5px!important}
.mt_6{margin-top:6px!important}
.mb_6{margin-bottom:6px!important}
.mt_7{margin-top:7px!important}
.mb_7{margin-bottom:7px!important}
.mt_8{margin-top:8px!important}
.mb_8{margin-bottom:8px!important}
.mt_9{margin-top:9px!important}
.mb_9{margin-bottom:9px!important}
.mt_10{margin-top:10px!important}
.mb_10{margin-bottom:10px!important}
.mt_11{margin-top:11px!important}
.mb_11{margin-bottom:11px!important}
.mt_12{margin-top:12px!important}
.mb_12{margin-bottom:12px!important}
.mt_13{margin-top:13px!important}
.mb_13{margin-bottom:13px!important}
.mt_14{margin-top:14px!important}
.mb_14{margin-bottom:14px!important}
.mt_15{margin-top:15px!important}
.mb_15{margin-bottom:15px!important}
.mt_16{margin-top:16px!important}
.mb_16{margin-bottom:16px!important}
.mt_17{margin-top:17px!important}
.mb_17{margin-bottom:17px!important}
.mt_18{margin-top:18px!important}
.mb_18{margin-bottom:18px!important}
.mt_19{margin-top:19px!important}
.mb_19{margin-bottom:19px!important}
.mt_20{margin-top:20px!important}
.mb_20{margin-bottom:20px!important}
.mt_21{margin-top:21px!important}
.mb_21{margin-bottom:21px!important}
.mt_22{margin-top:22px!important}
.mb_22{margin-bottom:22px!important}
.mt_23{margin-top:23px!important}
.mb_23{margin-bottom:23px!important}
.mt_24{margin-top:24px!important}
.mb_24{margin-bottom:24px!important}
.mt_25{margin-top:25px!important}
.mb_25{margin-bottom:25px!important}
.mt_26{margin-top:26px!important}
.mb_26{margin-bottom:26px!important}
.mt_27{margin-top:27px!important}
.mb_27{margin-bottom:27px!important}
.mt_28{margin-top:28px!important}
.mb_28{margin-bottom:28px!important}
.mt_29{margin-top:29px!important}
.mb_29{margin-bottom:29px!important}
.mt_30{margin-top:30px!important}
.mb_30{margin-bottom:30px!important}
.mt_31{margin-top:31px!important}
.mb_31{margin-bottom:31px!important}
.mt_32{margin-top:32px!important}
.mb_32{margin-bottom:32px!important}
.mt_33{margin-top:33px!important}
.mb_33{margin-bottom:33px!important}
.mt_34{margin-top:34px!important}
.mb_34{margin-bottom:34px!important}
.mt_35{margin-top:35px!important}
.mb_35{margin-bottom:35px!important}
.mt_36{margin-top:36px!important}
.mb_36{margin-bottom:36px!important}
.mt_37{margin-top:37px!important}
.mb_37{margin-bottom:37px!important}
.mt_38{margin-top:38px!important}
.mb_38{margin-bottom:38px!important}
.mt_39{margin-top:39px!important}
.mb_39{margin-bottom:39px!important}
.mt_40{margin-top:40px!important}
.mb_40{margin-bottom:40px!important}
.mt_41{margin-top:41px!important}
.mb_41{margin-bottom:41px!important}
.mt_42{margin-top:42px!important}
.mb_42{margin-bottom:42px!important}
.mt_43{margin-top:43px!important}
.mb_43{margin-bottom:43px!important}
.mt_44{margin-top:44px!important}
.mb_44{margin-bottom:44px!important}
.mt_45{margin-top:45px!important}
.mb_45{margin-bottom:45px!important}
.mt_46{margin-top:46px!important}
.mb_46{margin-bottom:46px!important}
.mt_47{margin-top:47px!important}
.mb_47{margin-bottom:47px!important}
.mt_48{margin-top:48px!important}
.mb_48{margin-bottom:48px!important}
.mt_49{margin-top:49px!important}
.mb_49{margin-bottom:49px!important}
.component div{margin-top:10px}
.default{width:100%;height:48px;background-color:#127eff;border-radius:24px;font-size:14px;font-weight:900;color:#fff;letter-spacing:-.21px}
.default.thin{height:40px;font-weight:700}
.default [disabled],.default:disabled{font-weight:700;background-color:#ebecef;color:rgba(0,0,0,.15);cursor:not-allowed;pointer-events:none}
.btn_half{display:-webkit-box;display:-ms-flexbox;display:flex;margin:0 -4px}
.btn_half .default{width:50%;margin:0 4px;background-color:#fff;color:#127eff;border:1px solid #127eff}
.press{width:auto;height:32px;padding:0 18px;background-color:#fff;border:1px solid #127eff;border-radius:50px;font-size:13px;font-weight:700;color:#127eff;white-space:nowrap}
.press.selected{background-color:rgba(18,126,255,.08)}
.press [disabled],.press:disabled{border-color:#cbe3ff;color:rgba(18,126,255,.3);cursor:not-allowed;pointer-events:none}
.list_label{display:inline-block;padding:3px 6px 1px;border-radius:30px;font-size:9px;font-weight:700;color:#fff;letter-spacing:-.14px;vertical-align:top}
.list_label.event{background-color:#4d93ff}
.list_label.biz{background-color:#666cf2}
.list_label.dday{background-color:#000;opacity:.4}
.list_label.dday_imminent{background-color:rgba(252,76,96,.87)}
.list_label.reservation{background-color:#0ec1b8}
.list_label.reservation:before{content:'';display:inline-block;margin:0 2px 0 0;vertical-align:top;background-image:url(/imgs/gft/mobile/sp_gift.png);width:10px;height:10px;background-position:0 0;background-size:100px 100px;-webkit-background-size:100px 100px}
.detail_label{display:inline-block;padding:5px 8px 4px;border-radius:30px;font-size:11px;font-weight:700;color:#fff;letter-spacing:-.17px;vertical-align:top}
.detail_label.event{background-color:#4d93ff}
.detail_label.biz{background-color:#666cf2}
.toast{position:fixed;bottom:20px;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);width:calc(100% - 40px);height:48px;border-radius:8px;background-color:#000;font-size:13px;font-weight:700;color:#fff;letter-spacing:-.2px;opacity:.75;z-index:20}
.product_list{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;width:100%}
.product_list+.product_list{margin-top:40px}
.product_list li{-webkit-box-flex:1;-ms-flex:1;flex:1;margin-left:15px}
.product_list li:first-child{margin-left:0}
.product_list li a{display:block}
.product_list li .thumb{overflow:hidden;position:relative;margin-bottom:8px;border-radius:12px;background-color:transparent}
.product_list li .thumb .label_box{display:block;margin:0;position:absolute;top:0;right:0;bottom:0;left:0;background:rgba(255,255,255,.7);z-index:10}
.product_list li .thumb .label_box .state_label{position:absolute;bottom:10px;right:10px;display:block;width:44px;height:44px;border:2px solid;border-color:rgba(0,0,0,.38);border-radius:50%;-webkit-box-sizing:border-box;box-sizing:border-box;padding:7px 0;font-size:11px;line-height:13px;letter-spacing:-.16px;color:rgba(0,0,0,.87);text-align:center}
.product_list li .thumb .label_box .state_label.refund{border-color:rgba(252,76,96,.87)}
.product_list li .thumb .list_label.event{position:absolute;top:10px;left:10px}
.product_list li .thumb .list_label.biz{position:absolute;top:10px;left:10px}
.product_list li .thumb .list_label.dday,.product_list li .thumb .list_label.dday_imminent,.product_list li .thumb .list_label.reservation{position:absolute;bottom:10px;right:10px}
.product span,.product strong{display:block}
.product .product_distributor{overflow:hidden;font-size:11px;color:rgba(0,0,0,.38);letter-spacing:-.17px;display:-webkit-box;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:1}
.product .product_title{overflow:hidden;margin-top:4px;font-size:13px;font-weight:900;color:rgba(0,0,0,.87);letter-spacing:-.2px;display:-webkit-box;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:1}
.product .from_present{overflow:hidden;margin-top:8px;font-size:11px;font-weight:700;color:rgba(0,0,0,.87);letter-spacing:-.17px;display:-webkit-box;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:1}
.product .use_expire{overflow:hidden;margin-top:4px;font-size:11px;font-weight:700;color:rgba(0,0,0,.38);letter-spacing:-.17px;display:-webkit-box;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:1}
.product .use_expire .division{display:inline-block;width:1px;height:10px;margin:2px 4px 0 6px;background-color:rgba(0,0,0,.38);vertical-align:top}
.detail_thumb{display:block;overflow:hidden;position:relative;width:295px;height:208px;margin:0 auto;border-radius:12px;text-align:center}
.detail_thumb>img{display:inline-block;vertical-align:top;width:100%;height:100%;min-width:240px;min-height:170px;max-width:295px;max-height:208px}
.detail_thumb .label_box{display:block;margin:0;position:absolute;top:0;right:0;bottom:0;left:0;background:rgba(255,255,255,.7);z-index:10}
.detail_thumb .label_box .state_label{position:absolute;bottom:10px;right:10px;display:block;width:60px;height:60px;border:2px solid;border-color:rgba(0,0,0,.38);border-radius:50%;-webkit-box-sizing:border-box;box-sizing:border-box;padding:11px 0;font-size:14px;line-height:18px;letter-spacing:-.21px;color:rgba(0,0,0,.87);text-align:center}
.detail_thumb .detail_label{position:absolute;top:12px;left:12px}
.message_box{display:block;padding:20px 0;position:relative;text-align:center;border-bottom:1px solid rgba(0,0,0,.06)}
.message_box strong{display:block;font-size:15px;line-height:22px;letter-spacing:-.22px;color:rgba(0,0,0,.87)}
.message_box span{display:block;margin-top:12px;font-size:13px;line-height:20px;letter-spacing:-.2px;color:rgba(0,0,0,.6)}
.message_box span:only-child{margin-top:0}
.event_notice{display:block;border:1px solid #e5e5e5;border-radius:16px;padding:24px 20px;-webkit-box-sizing:border-box;box-sizing:border-box;background-color:#fcfcfc}
.event_notice>strong{display:block;margin-bottom:10px;font-size:14px;line-height:20px;letter-spacing:-.21px;color:rgba(0,0,0,.87)}
.event_notice>p{display:block;font-size:12px;line-height:20px;letter-spacing:-.18px;color:rgba(0,0,0,.5)}
.section_title{display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;height:54px;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.section_title p{display:block;font-size:16px;line-height:18px;letter-spacing:-.24px;color:rgba(0,0,0,.87);font-weight:700}
.section_title p em{color:#127eff}
.section_title .button_appointment{margin-left:auto;height:30px;padding:0 12px;border:1px solid #0ec1b8;border-radius:30px;font-size:12px;font-weight:700;color:#0ec1b8;letter-spacing:-.18px}
.section_title .button_appointment:before{content:'';display:inline-block;margin-right:5px;vertical-align:top;background-image:url(/imgs/gft/mobile/sp_gift.png);width:13px;height:14px;background-position:-24px -19px;background-size:100px 100px;-webkit-background-size:100px 100px}
.common_box{padding:0 20px}
@media all and (min-width:320px){
.container .content .refund_account .account_box .in_box .notice{letter-spacing:-.7px!important}
.container .content .help_desk_info p{letter-spacing:-.5px}
.container .content .section_title .button_appointment{letter-spacing:-.7px}
}
.service_list{display:-webkit-box;display:-ms-flexbox;display:flex;position:relative;height:46px;padding:16px 0 0;background-color:#fff}
.service_list:before{content:'';position:absolute;bottom:0;left:-20px;right:-20px;height:1px;background-color:rgba(0,0,0,.06)}
.service_list li{position:relative}
.service_list li a{padding:0 2px 9px;font-size:16px;font-weight:900;color:rgba(0,0,0,.87);letter-spacing:-.24px}
.service_list li.active a{position:relative}
.service_list li.active a:after{content:'';position:absolute;bottom:0;left:0;width:100%;border-bottom:3px solid #000}
.service_list li .number_count{display:inline-block;padding:3px 6px 2px;margin:1px 0 0 4px;border-radius:9px;font-size:10px;font-weight:900;color:#fff;background-color:#127eff;vertical-align:top}
.service_list li+li{margin-left:20px}
.present_tab{display:-webkit-box;display:-ms-flexbox;display:flex;position:relative;height:46px}
.present_tab li{margin-left:24px}
.present_tab li:first-child{margin-left:0}
.present_tab li a{display:inline-block;padding:13px 0;font-size:15px;font-weight:700;color:rgba(0,0,0,.38);letter-spacing:-.23px}
.present_tab li.active a{color:#127eff}
.information_tab{display:-webkit-box;display:-ms-flexbox;display:flex;position:relative;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding-top:16px;margin-top:39px;background-color:#fff;border-bottom:1px solid rgba(0,0,0,.06)}
.information_tab:before{position:absolute;top:-9px;left:0;width:100%;height:9px;background-color:#f9f9fc;content:''}
.information_tab li{width:50%;text-align:center}
.information_tab li a{display:block;padding:13px 0 12px}
.information_tab li a span{display:inline-block;position:relative;padding:0 2px;font-size:16px;font-weight:700;color:rgba(0,0,0,.38);letter-spacing:-.24px}
.information_tab li.active span{font-weight:900;color:rgba(0,0,0,.87)}
.information_tab li.active span:after{content:'';position:absolute;bottom:-12px;left:0;width:100%;border-bottom:3px solid #000}
.header{padding:0 20px;background-color:#fff}
.header.fixed{position:fixed;top:0;left:0;right:0;z-index:30}
.header .title{display:-webkit-box;display:-ms-flexbox;display:flex;position:relative;height:46px;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.header .title h2{font-size:22px;font-weight:900;color:rgba(0,0,0,.87);letter-spacing:-.33px}
.header .title .button_close{position:absolute;top:0;right:-9px;padding:14px}
.header .title .button_close:before{content:'';display:inline-block;vertical-align:middle;background-image:url(/imgs/gft/mobile/sp_gift.png);width:14px;height:14px;background-position:-15px 0;background-size:100px 100px;-webkit-background-size:100px 100px}
.header .end_title{display:-webkit-box;display:-ms-flexbox;display:flex;position:relative;height:46px;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;text-align:center}
.header .end_title h2{font-size:18px;color:rgba(0,0,0,.87);letter-spacing:-.27px}
.header .end_title .button_close{position:absolute;top:0;left:-9px;padding:14px}
.header .end_title .button_close:before{content:'';display:inline-block;vertical-align:middle;background-image:url(/imgs/gft/mobile/sp_gift.png);width:14px;height:14px;background-position:-15px 0;background-size:100px 100px;-webkit-background-size:100px 100px}
.header .end_title .button_prev{position:absolute;top:0;left:-10px;padding:14px}
.header .end_title .button_prev:before{content:'';display:inline-block;vertical-align:middle;background-image:url(/imgs/gft/mobile/sp_gift.png);width:18px;height:14px;background-position:0 -44px;background-size:100px 100px;-webkit-background-size:100px 100px}
.header .end_title .button_download{position:absolute;top:0;right:-10px;padding:14px}
.header .end_title .button_download:before{content:'';display:inline-block;vertical-align:middle;background-image:url(/imgs/gft/mobile/sp_gift.png);width:19px;height:17px;background-position:0 -19px;background-size:100px 100px;-webkit-background-size:100px 100px}
.sort_box{margin-top:20px;text-align:right}
.sort_box .sort_box_list{display:inline-block;position:relative;vertical-align:top}
.sort_box .sort_box_list button{font-size:13px;font-weight:700;color:rgba(0,0,0,.87);letter-spacing:-.2px}
.sort_box .sort_box_list button+button{margin-left:20px}
.sort_box .sort_box_list button:after{content:'';display:inline-block;width:10px;height:5.5px;margin:5px 0 0 4px;background:url(/imgs/gft/mobile/sp_gift.png) 0 0 no-repeat;background-size:100px 100px;-webkit-background-size:100px 100px;background-position:-34px 0;vertical-align:top}
.sort_box .sort_box_list .sort_result{position:absolute;top:4px;right:0;min-width:112px;padding:8px 0;background-color:#fff;border-radius:8px;box-shadow:0 4px 8px 0 rgba(0,0,0,.1);-webkit-box-shadow:0 4px 8px 0 rgba(0,0,0,.1);z-index:10}
.sort_box .sort_box_list .sort_result a{display:block;padding:12px 16px 11px;font-size:13px;font-weight:700;color:rgba(0,0,0,.87);letter-spacing:-.2px;text-align:left}
.notice{padding:24px 26px;background-color:#fafafa}
.notice .in_box{display:block;position:relative}
.notice .in_box div{display:block;margin-top:23px}
.notice .in_box div:first-child{margin-top:0}
.notice .in_box div dt{font-size:14px;line-height:24px;letter-spacing:-.21px;color:rgba(0,0,0,.87)}
.notice .in_box div dd,.notice .in_box div p{font-size:13px;line-height:24px;letter-spacing:-.2px;color:rgba(0,0,0,.6)}
.notice.type_table .in_box div{margin:0;padding:16px 0;border-top:1px solid rgba(0,0,0,.06);display:table;width:100%;table-layout:fixed}
.notice.type_table .in_box div:first-child{border-color:rgba(0,0,0,.87)}
.notice.type_table .in_box div dd,.notice.type_table .in_box div dt{display:table-cell}
.notice.type_table .in_box div dt{font-size:13px;line-height:20px;width:30%;min-width:30%;color:rgba(0,0,0,.38)}
.notice.type_table .in_box div dd{font-size:14px;color:rgba(0,0,0,.87)}
.accordion{display:block;padding-bottom:30px}
.accordion li{border-bottom:1px solid rgba(0,0,0,.06)}
.accordion li.active .title:after{-webkit-transform:rotateX(180deg);transform:rotateX(180deg)}
.accordion li .title{position:relative;display:block;width:100%;height:54px;text-align:left}
.accordion li .title span{display:block;font-size:15px;line-height:19px;letter-spacing:-.22px;color:rgba(0,0,0,.87)}
.accordion li .title:after{content:'';display:block;position:absolute;top:50%;right:0;margin:-4px 0 0 0;width:14px;height:8px;background-image:url(/imgs/gft/mobile/sp_gift.png);width:14px;height:8px;background-position:-49px 0;background-size:100px 100px;-webkit-background-size:100px 100px}
.accordion li .notice{display:none;margin:0 -20px}
.accordion li.active .notice{display:block}
.accordion.question .title{height:auto;padding:18px 40px 17px 26px}
.accordion.question .title:before{content:'';position:absolute;top:19px;left:6px;background-image:url(/imgs/gft/mobile/sp_gift.png);width:12px;height:15.5px;background-position:-19px -63px;background-size:100px 100px;-webkit-background-size:100px 100px}
.btn_checkbox{display:inline-block;vertical-align:top;position:relative;padding-left:25px;height:24px}
.btn_checkbox input[type=checkbox]{opacity:0;display:block;position:absolute;top:0;left:0;width:100%;height:100%}
.btn_checkbox input[type=checkbox]:checked+.ico{background-image:url(/imgs/gft/mobile/sp_gift.png);width:20px;height:20px;background-position:-67px -19px;background-size:100px 100px;-webkit-background-size:100px 100px}
.btn_checkbox .ico{display:block;position:absolute;top:50%;left:0;margin:-10px 0 0 0;background-image:url(/imgs/gft/mobile/sp_gift.png);width:20px;height:20px;background-position:-42px -19px;background-size:100px 100px;-webkit-background-size:100px 100px}
.btn_checkbox .label_text{display:block;font-size:13px;line-height:24px;letter-spacing:-.2px;color:rgba(0,0,0,.87)}
.button_box{position:relative;margin:9px 0}
.button_box::after{content:'';display:block;clear:both}
.button_box:before{position:absolute;top:-9px;left:0;width:100%;height:9px;background-color:#f9f9fc;content:''}
.button_box:after{position:absolute;bottom:-9px;left:0;width:100%;height:9px;background-color:#f9f9fc;content:''}
.button_box ul::after{content:'';display:block;clear:both}
.button_box ul li{float:left;width:50%}
.button_box ul li button{display:block;position:relative;width:100%;height:52px;font-size:13px;font-weight:900;color:rgba(0,0,0,.87)}
.button_box ul li button:before{display:inline-block;margin-right:10px;background-image:url(/imgs/gft/mobile/sp_gift.png);width:19px;height:16.5px;background-position:-23px -44px;background-size:100px 100px;-webkit-background-size:100px 100px;vertical-align:top;content:''}
.button_box ul li+li{position:relative}
.button_box ul li+li:before{position:absolute;top:50%;left:-1px;width:1px;height:16px;margin-top:-8px;background-color:#ddd;content:''}
.button_box ul li+li button{background-color:#fff}
.button_box ul li+li button:before{display:inline-block;margin-right:10px;margin-top:-2px;background-image:url(/imgs/gft/mobile/sp_gift.png);width:19px;height:19px;background-position:-47px -44px;background-size:100px 100px;-webkit-background-size:100px 100px;vertical-align:top;content:''}
.button_list{margin:0 20px}
.button_list a{display:block;position:relative;padding:19px 0 18px;border-bottom:1px solid rgba(0,0,0,.06);font-size:15px;font-weight:700;color:rgba(0,0,0,.87);display:-webkit-box;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:1}
.button_list a:after{content:'';position:absolute;top:50%;right:0;margin-top:-6px;background-image:url(/imgs/gft/mobile/sp_gift.png);width:7px;height:12px;background-position:-87px 0;background-size:100px 100px;-webkit-background-size:100px 100px}
.button_list a .badge{display:inline-block;padding:3px 6px 2px;margin:1px 0 0 4px;background-color:#127eff;border-radius:100%;font-size:10px;font-weight:900;color:#fff;vertical-align:top}
.notice_list ul li{padding:20px 0 28px;border-bottom:1px solid rgba(0,0,0,.06)}
.notice_list ul li:last-child{border-bottom:0}
.notice_list ul li .notice_box{position:relative;padding-left:29px;padding-right:29px}
.notice_list ul li .notice_box:before{content:'';position:absolute;top:1px;left:3px;background-image:url(/imgs/gft/mobile/sp_gift.png);width:18px;height:18px;background-position:-71px -44px;background-size:100px 100px;-webkit-background-size:100px 100px}
.notice_list ul li .notice_box h3{font-size:15px;font-weight:900;line-height:22px;letter-spacing:-.23px;word-break:keep-all;word-wrap:break-word;display:-webkit-box;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:3}
.notice_list ul li .notice_box .notice_write_date{display:block;margin-top:10px;font-size:11px;font-weight:700;letter-spacing:-.17px;color:rgba(0,0,0,.38);line-height:16px}
.notice_list ul li .notice_box .notice_content{margin-top:20px;font-size:13px;font-weight:700;color:rgba(0,0,0,.6);line-height:24px;letter-spacing:-.2px;word-break:keep-all;word-wrap:break-word}
.reg_management{position:fixed;bottom:-184px;left:0;right:0;padding:26px 0;background-color:#fff;border-top-left-radius:12px;border-top-right-radius:12px;z-index:20}
.reg_management h2{padding:0 20px;font-size:15px;font-weight:900;color:rgba(0,0,0,.87);line-height:21px;letter-spacing:-.23px;display:-webkit-box;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:1}
.reg_management ul{margin-top:15px}
.reg_management ul li button{width:100%;height:48px;padding:0 20px;font-size:14px;font-weight:700;color:rgba(0,0,0,.87);line-height:21px;letter-spacing:-.21px;text-align:left}
.reg_management ul li button.button_refresh:before{display:inline-block;margin-right:12px;vertical-align:top;content:'';background-image:url(/imgs/gft/mobile/sp_gift.png);width:21px;height:19px;background-position:0 -81px;background-size:100px 100px;-webkit-background-size:100px 100px}
.reg_management ul li button.button_delete:before{display:inline-block;margin-right:15px;vertical-align:top;content:'';background-image:url(/imgs/gft/mobile/sp_gift.png);width:18px;height:19px;background-position:-26px -81px;background-size:100px 100px;-webkit-background-size:100px 100px}
.reg_management.active{display:block;bottom:0;-webkit-animation:slideUp .3s ease-in;animation:slideUp .3s ease-in}
@-webkit-keyframes slideUp{
0%{opacity:0;bottom:-184px}
100%{opacity:1;bottom:0}
}
@keyframes slideUp{
0%{opacity:0;bottom:-184px}
100%{opacity:1;bottom:0}
}
.card_form{padding:20px 20px 24px;background-color:#fff;border:1px solid rgba(0,0,0,.12);border-radius:16px}
.card_form+.card_form{margin-top:16px}
.card_form .birthday_input{position:relative}
.card_form .birthday_input h3{font-size:14px;font-weight:900;color:rgba(0,0,0,.87);letter-spacing:-.21px;display:-webkit-box;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:1}
.card_form .birthday_input h3.icon_birthday:before{content:'';display:inline-block;margin-right:10px;width:32px;height:32px;background:url(/imgs/gft/mobile/icon_anniversary_cake.svg) 0 0 no-repeat;background-size:32px 32px;-webkit-background-size:32px 32px;vertical-align:middle}
.card_form .birthday_input h3.icon_heart:before{content:'';display:inline-block;margin-right:10px;width:32px;height:32px;background:url(/imgs/gft/mobile/icon_anniversary_heart.svg) 0 0 no-repeat;background-size:32px 32px;-webkit-background-size:32px 32px;vertical-align:middle}
.card_form .birthday_input .button_more{position:absolute;top:50%;right:0;margin-top:-12px}
.card_form .birthday_input .button_more:before{content:'';display:inline-block;width:24px;height:24px;vertical-align:top;background:url(/imgs/gft/mobile/icon_more_sec.svg) 0 0 no-repeat;background-size:24px 24px;-webkit-background-size:24px 24px}
.card_form .birthday_select .select_box{position:relative;margin-top:26px;border-bottom:1px solid #ccc}
.card_form .birthday_select .select_box:before{content:'';display:block;position:absolute;top:50%;right:3px;margin:-5px 0 0 0;background-image:url(/imgs/gft/mobile/sp_gift.png);width:11px;height:6px;background-position:-34px -63px;background-size:100px 100px;-webkit-background-size:100px 100px}
.card_form .birthday_select .select_box+.time_box{margin-top:40px}
.card_form .birthday_select .select_box .select_area{width:100%;padding-bottom:8px;border:0;font-size:15px;font-weight:700;color:rgba(0,0,0,.16);background-color:transparent;letter-spacing:-.23px;-webkit-appearance:none;-moz-appearance:none;appearance:none;-webkit-box-sizing:border-box;box-sizing:border-box}
.card_form .birthday_select .select_box .select_area::-webkit-calendar-picker-indicator{display:block;position:absolute;top:0;left:0;right:0;bottom:0;width:auto;height:auto;color:transparent;background:0 0;-webkit-box-sizing:border-box;box-sizing:border-box}
.card_form .birthday_select.complete .select_area{color:rgba(0,0,0,.87)}
.card_form .birthday_luna{margin-top:17px}
.card_form .birthday_luna .button_radio{display:inline-block;position:relative;height:24px;padding-left:26px;vertical-align:top}
.card_form .birthday_luna .button_radio+.button_radio{margin-left:42px}
.card_form .birthday_luna .button_radio .ico{display:block;position:absolute;top:50%;left:0;width:20px;height:20px;margin-top:-10px;border:1px solid rgba(60,60,67,.18);border-radius:12px}
.card_form .birthday_luna .button_radio .label_text{display:block;font-size:13px;font-weight:700;color:rgba(0,0,0,.87);letter-spacing:-.2px;line-height:24px}
.card_form .birthday_luna .button_radio input[type=radio]{opacity:0;display:block;position:absolute;top:0;left:0;width:100%;height:100%}
.card_form .birthday_luna .button_radio input[type=radio]:disabled+.ico{background-color:#eaebed;border-color:#eaebed}
.card_form .birthday_luna .button_radio input[type=radio]:checked+.ico{border-color:#127eff}
.card_form .birthday_luna .button_radio input[type=radio]:checked+.ico:before{content:'';position:absolute;top:50%;left:50%;width:12px;height:12px;margin:-6px 0 0 -6px;background-color:#177aff;border-radius:100%}
.card_form .birthday_luna .button_radio input[type=radio]:checked:disabled+.ico{background-color:#fff;border-color:rgba(60,60,67,.18)}
.card_form .birthday_luna .button_radio input[type=radio]:checked:disabled+.ico:before{content:'';background-color:#eaebed}
.card_form .form_box{margin-top:32px}
.card_form .form_box:first-child{margin-top:0}
.card_form .form_box .card_common_title{font-size:12px;color:rgba(0,0,0,.38)}
.card_form .form_box ul{display:-webkit-box;display:-ms-flexbox;display:flex;overflow:hidden;margin-top:12px;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.card_form .form_box ul li button{padding:8px;border:1px solid transparent;box-sizing:border-box}
.card_form .form_box ul li button.icon_balloon:after{content:'';display:inline-block;width:32px;height:32px;background:url(/imgs/gft/mobile/icon_anniversary_balloon.svg) 0 0 no-repeat;background-size:32px 32px;-webkit-background-size:32px 32px;vertical-align:middle}
.card_form .form_box ul li button.icon_clapping:after{content:'';display:inline-block;width:32px;height:32px;background:url(/imgs/gft/mobile/icon_anniversary_clapping.svg) 0 0 no-repeat;background-size:32px 32px;-webkit-background-size:32px 32px;vertical-align:middle}
.card_form .form_box ul li button.icon_heart:after{content:'';display:inline-block;width:32px;height:32px;background:url(/imgs/gft/mobile/icon_anniversary_heart.svg) 0 0 no-repeat;background-size:32px 32px;-webkit-background-size:32px 32px;vertical-align:middle}
.card_form .form_box ul li button.icon_champagne:after{content:'';display:inline-block;width:32px;height:32px;background:url(/imgs/gft/mobile/icon_anniversary_champagne.svg) 0 0 no-repeat;background-size:32px 32px;-webkit-background-size:32px 32px;vertical-align:middle}
.card_form .form_box ul li button.icon_couple:after{content:'';display:inline-block;width:32px;height:32px;background:url(/imgs/gft/mobile/icon_anniversary_couple.svg) 0 0 no-repeat;background-size:32px 32px;-webkit-background-size:32px 32px;vertical-align:middle}
.card_form .form_box ul li.active button{background-color:rgba(18,126,255,.08);border-radius:12px;border:1px solid #1c90fb}
.card_form .form_box .anniversary_title{position:relative;width:100%}
.card_form .form_box .anniversary_title .input_box{position:relative;padding-bottom:10px;border-bottom:1px solid rgba(0,0,0,.12)}
.card_form .form_box .anniversary_title .input_box input{width:100%;padding-right:24px;border:0;font-size:15px;font-weight:700;color:rgba(0,0,0,.87);-webkit-box-sizing:border-box;box-sizing:border-box;outline:0}
.card_form .form_box .anniversary_title .input_box input::-webkit-input-placeholder{font-weight:700;color:rgba(0,0,0,.38)}
.card_form .form_box .anniversary_title .input_box input::-moz-placeholder{font-weight:700;color:rgba(0,0,0,.38)}
.card_form .form_box .anniversary_title .input_box input:-ms-input-placeholder{font-weight:700;color:rgba(0,0,0,.38)}
.card_form .form_box .anniversary_title .input_box input::-ms-input-placeholder{font-weight:700;color:rgba(0,0,0,.38)}
.card_form .form_box .anniversary_title .input_box input::placeholder{font-weight:700;color:rgba(0,0,0,.38)}
.card_form .form_box .anniversary_title .input_box .input_text_delete{position:absolute;top:-1px;right:0;padding:3px 4px}
.card_form .form_box .anniversary_title .input_box .input_text_delete:before{content:'';display:inline-block;vertical-align:middle;background-image:url(/imgs/gft/mobile/sp_gift.png);width:16px;height:16px;background-position:-66px -66px;background-size:100px 100px;-webkit-background-size:100px 100px}
.card_form .form_box .anniversary_title .input_box.error+.alert_box{display:-webkit-box;display:-ms-flexbox;display:flex}
.card_form .form_box .anniversary_title .alert_box{display:none;margin-top:6px}
.card_form .form_box .anniversary_title .alert_box .warning_text{font-size:12px;font-weight:700;color:#fc4c60;letter-spacing:-.18px}
.card_form .form_box .anniversary_title .alert_box .text_number_count{margin-left:auto;font-size:12px;font-weight:700;color:rgba(13,14,16,.87)}
.card_form .form_box .anniversary_title .alert_box .text_number_count em{color:#127eff}
.container{height:calc(100% - 46px)}
.container .content{height:100%}
.container .content .product_box{margin:20px 0}
.container .content .sort_box~.product_box{margin-top:16px}
.container .content .refund_info{display:block;margin-bottom:32px}
.container .content .refund_info .in_box{display:-webkit-box;display:-ms-flexbox;display:flex;margin-bottom:32px;width:100%;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.container .content .refund_info .in_box .thumb{width:114px;min-width:114px;margin-right:16px;border-radius:12px;overflow:hidden}
.container .content .refund_info .in_box .thumb img{display:block;width:114px;height:auto}
.container .content .refund_info .in_box .text{display:block;text-align:left}
.container .content .refund_info .in_box .text span{display:block;font-size:14px;line-height:20px;letter-spacing:-.21px;color:rgba(0,0,0,.87)}
.container .content .refund_info .refund_amount{display:block;text-align:center;font-size:14px;line-height:20px;letter-spacing:-.21px;color:rgba(0,0,0,.87)}
.container .content .refund_info .refund_amount span{color:#127eff;font-weight:900}
.container .content .refund_account{display:block;margin-bottom:33px;padding-top:16px}
.container .content .refund_account .depositor_box{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.container .content .refund_account .depositor_box dd,.container .content .refund_account .depositor_box dt{display:block;font-size:13px;line-height:16px;color:rgba(0,0,0,.87)}
.container .content .refund_account .depositor_box dt{color:rgba(0,0,0,.38)}
.container .content .refund_account .account_box{display:block;margin-top:29px}
.container .content .refund_account .account_box .in_box{display:-webkit-box;display:-ms-flexbox;display:flex;padding:5px 0;border-top:1px solid #ccc}
.container .content .refund_account .account_box .in_box.type_02{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding-top:10px}
.container .content .refund_account .account_box .in_box.type_03{display:block;border-top:0;border-bottom:1px solid #ccc}
.container .content .refund_account .account_box .in_box:first-child{border-top:0}
.container .content .refund_account .account_box .in_box .select_bank{position:relative;width:30%;min-width:30%;margin-right:5px}
.container .content .refund_account .account_box .in_box .select_bank:before{content:'';display:block;position:absolute;top:50%;right:12px;margin:-4px 0 0 0;width:14px;height:8px;background-image:url(/imgs/gft/mobile/sp_gift.png);width:14px;height:8px;background-position:-49px 0;background-size:100px 100px;-webkit-background-size:100px 100px;z-index:10}
.container .content .refund_account .account_box .in_box .select_bank label{display:block;width:100%;border:0}
.container .content .refund_account .account_box .in_box .select_bank label select{position:relative;display:block;width:100%;border:0;padding:5px 34px 5px 0;background-color:#fff;font-size:15px;line-height:20px;letter-spacing:-.22px;color:rgba(0,0,0,.87);-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-appearance:none;-moz-appearance:none;appearance:none;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap}
.container .content .refund_account .account_box .in_box .account_num{display:block;width:100%}
.container .content .refund_account .account_box .in_box .account_num input{width:100%;border:0;padding:5px 8px;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:15px;line-height:20px;color:rgba(0,0,0,.38)}
.container .content .refund_account .account_box .in_box .notice_text{display:block;font-size:12px;line-height:15px;letter-spacing:-.18px;color:rgba(0,0,0,.87);max-width:240px}
.container .content .refund_account .account_box .in_box .refund_email{display:block;margin-bottom:20px;font-size:13px;line-height:16px;letter-spacing:-.2px;color:rgba(0,0,0,.38)}
.container .content .refund_account .account_box .in_box .input_email{display:block;position:relative;width:100%}
.container .content .refund_account .account_box .in_box .input_email input{width:100%;border:0;padding:3px 0;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:15px;line-height:20px;letter-spacing:-.22px;color:rgba(0,0,0,.38)}
.container .content .refund_account .account_box .in_box .input_email .warning_text{position:absolute;bottom:-29px;left:0;font-size:12px;font-weight:700;color:#fc4c60;letter-spacing:-.18px;line-height:20px}
.container .content .refund_agree{display:block;padding-bottom:32px;border-bottom:1px solid rgba(0,0,0,.87)}
.container .content .refund_agree>strong{display:block;padding:14px 0;font-size:14px;line-height:18px;letter-spacing:-.21px;color:rgba(0,0,0,.87)}
.container .content .refund_agree>p{display:block;margin-bottom:15px;font-size:13px;line-height:24px;letter-spacing:-.2px;color:rgba(0,0,0,.38)}
.container .content .refund_agree .btn_box{text-align:right}
.container .content .refund_notice{display:block;padding:16px 0 32px}
.container .content .refund_notice p{display:block;font-size:12px;line-height:20px;letter-spacing:-.18px;color:rgba(0,0,0,.87)}
.container .content .recipient_detail_box{margin-top:20px}
.container .content .recipient_detail_box+.recipient_detail_box{margin-top:40px}
.container .content .recipient_detail_box .button_detail{padding-bottom:10px;border-bottom:1px solid rgba(0,0,0,.06)}
.container .content .recipient_detail_box .button_detail button{display:block;position:relative;width:100%;font-size:15px;font-weight:700;color:rgba(0,0,0,.87);letter-spacing:-.23px;text-align:left}
.container .content .recipient_detail_box .button_detail button:after{content:'';display:block;position:absolute;top:50%;right:0;margin:-4px 0 0 0;width:14px;height:8px;background-image:url(/imgs/gft/mobile/sp_gift.png);width:14px;height:8px;background-position:-49px 0;background-size:100px 100px;-webkit-background-size:100px 100px}
.container .content .recipient_detail_box .button_detail.active{border-color:rgba(0,0,0,.87)}
.container .content .recipient_detail_box .button_detail.active .title:after{-webkit-transform:rotateX(180deg);transform:rotateX(180deg)}
.container .content .recipient_detail_box .button_detail.active~.recipient_detail{display:block}
.container .content .recipient_detail_box .recipient_detail{display:none;position:relative;padding:16px}
.container .content .recipient_detail_box .recipient_detail:after{content:'';position:absolute;bottom:0;left:0;right:0;height:1px;border-bottom:1px solid rgba(0,0,0,.06)}
.container .content .recipient_detail_box .recipient_detail dl{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.container .content .recipient_detail_box .recipient_detail dl dt{font-size:13px;font-weight:700;color:rgba(0,0,0,.38);letter-spacing:-.28px;line-height:28px}
.container .content .recipient_detail_box .recipient_detail dl dd{font-size:13px;font-weight:700;letter-spacing:-.2px;line-height:28px}
.container .content .recipient_detail_box .recipient_detail dl dd em{color:rgba(252,76,96,.86)}
.container .content .recipient_detail_box .recipient_detail .button_send{margin-top:9px;text-align:center}
.container .content .help_desk_info{margin:32px 0 30px;font-size:12px;font-weight:700;color:rgba(0,0,0,.6);line-height:20px;letter-spacing:-.18px;text-align:center}
.container .content .help_desk_info strong{font-weight:900}
.container .content .section_box+.section_box{margin-top:32px}
.container .content .time_box{position:relative;margin-top:20px;border-bottom:1px solid #ccc}
.container .content .time_box:after{content:'';display:block;position:absolute;top:50%;right:0;margin:-8px 0 0 0;background-image:url(/imgs/gft/mobile/sp_gift.png);width:14px;height:8px;background-position:-49px 0;background-size:100px 100px;-webkit-background-size:100px 100px}
.container .content .time_box+.time_box{margin-top:40px}
.container .content .time_box .select_time{width:100%;padding-bottom:10px;border:0;font-size:15px;color:rgba(0,0,0,.87);background-color:transparent;letter-spacing:-.23px;-webkit-appearance:none;-moz-appearance:none;appearance:none}
.container .content .detail_info{display:block;padding-top:32px}
.container .content .detail_info.send{padding-top:24px}
.container .content .detail_info .sand_info{display:block;margin-bottom:20px;font-size:16px;line-height:20px;letter-spacing:-.24px;color:rgba(0,0,0,.87);text-align:center}
.container .content .detail_info .sand_info>span{font-weight:900}
.container .content .detail_info .menu_info{display:block;text-align:center}
.container .content .detail_info .menu_info .company{display:block;margin:19px 0 3px;font-size:13px;line-height:20px;letter-spacing:-.2px;color:rgba(0,0,0,.6)}
.container .content .detail_info .menu_info .menu_name{display:block;margin-bottom:17px;font-size:16px;line-height:24px;color:rgba(0,0,0,.87);font-weight:700}
.container .content .detail_info .menu_info .detail_list{display:block;position:relative;padding:17px 0 14px;border-top:1px solid;border-color:rgba(0,0,0,.87);border-bottom:1px solid rgba(0,0,0,.06)}
.container .content .detail_info .menu_info .detail_list>div{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:0 16px;-webkit-box-sizing:border-box;box-sizing:border-box;margin-top:10px}
.container .content .detail_info .menu_info .detail_list>div:first-child{margin-top:0}
.container .content .detail_info .menu_info .detail_list>div>dd,.container .content .detail_info .menu_info .detail_list>div>dt{display:block;font-size:13px;line-height:16px}
.container .content .detail_info .menu_info .detail_list>div>dt{color:rgba(0,0,0,.38)}
.container .content .detail_info .menu_info .detail_list>div .press+.press{margin-left:8px}
.container .content .empty_box{margin-top:124px;text-align:center}
.container .content .empty_box p{margin-top:30px;font-size:14px;font-weight:700;color:rgba(0,0,0,.87);letter-spacing:-.21px}
.container .content.gift_home .banner_box{position:relative;height:80px;background:url(/imgs/gft/mobile/img_banner.png) 50% 0 no-repeat;background-size:375px 80px;-webkit-background-size:375px 80px}
.container .content.gift_home .banner_box:before{content:'';position:absolute;top:0;left:0;width:50%;height:80px;background:url(/imgs/gft/mobile/bg_banner_left.png) repeat-x;background-size:375px 80px;-webkit-background-size:375px 80px;z-index:-1}
.container .content.gift_home .banner_box:after{content:'';position:absolute;top:0;right:0;width:50%;height:80px;background:url(/imgs/gft/mobile/bg_banner_right.png) repeat-x;background-size:375px 80px;-webkit-background-size:375px 80px;z-index:-1}
.container .content.gift_home .banner_box a{display:block;height:100%}
.container .content.gift_home .home_product_list ul{overflow:hidden;overflow-x:scroll;-webkit-overflow-scrolling:touch;margin-top:14px;white-space:nowrap;font-size:0}
.container .content.gift_home .home_product_list ul::-webkit-scrollbar{display:none}
.container .content.gift_home .home_product_list ul li{display:inline-block;width:114px;height:100%;margin-left:16px;vertical-align:top}
.container .content.gift_home .home_product_list ul li:first-child{margin-left:20px}
.container .content.gift_home .home_product_list ul li a{display:block;position:relative}
.container .content.gift_home .home_product_list ul li .thumb{width:114px;height:93px;margin-bottom:8px}
.container .content.gift_home .home_product_list ul li .product span,.container .content.gift_home .home_product_list ul li .product strong{display:block}
.container .content.gift_home .home_product_list ul li.list_all_view{width:auto;height:179px;margin-left:0}
.container .content.gift_home .home_product_list ul li.list_all_view a{padding:58px 22px;font-size:11px;color:rgba(0,0,0,.87);letter-spacing:-.17px;text-align:center}
.container .content.gift_home .home_product_list ul li.list_all_view a .button_more{position:relative;width:36px;height:36px;margin:0 auto 12px;border:1px solid rgba(0,0,0,.38);border-radius:100%;vertical-align:top}
.container .content.gift_home .home_product_list ul li.list_all_view a .button_more:before{content:'';position:absolute;top:50%;left:50%;margin-top:-6px;margin-left:-3.5px;background-image:url(/imgs/gft/mobile/sp_gift.png);width:7px;height:12px;background-position:-87px 0;background-size:100px 100px;-webkit-background-size:100px 100px}
.container .content.gift_home .home_product_list .product_list_empty{text-align:center}
.container .content.gift_home .home_product_list .product_list_empty p{margin-top:4px;font-size:13px;font-weight:700;color:rgba(0,0,0,.38);line-height:20px;letter-spacing:-.2px}
.container .content .gift_navigation{position:relative;overflow:hidden;border-bottom:1px solid #ddd}
.container .content .gift_navigation:before{content:'';position:absolute;top:0;left:50%;width:1px;height:100%;background-color:#ddd}
.container .content .gift_navigation li{float:left;width:50%}
.container .content .gift_navigation li a{display:block;position:relative;padding:17px 10px 19px 20px;font-size:13px;font-weight:700;color:rgba(0,0,0,.87);letter-spacing:-.2px;line-height:16px}
.container .content .gift_navigation li a:after{content:'';position:absolute;top:50%;right:10px;margin-top:-7px;background-image:url(/imgs/gft/mobile/sp_gift.png);width:7px;height:12px;background-position:-87px 0;background-size:100px 100px;-webkit-background-size:100px 100px}
.container .content .present_list{padding:20px 0 24px}
.container .content .present_list .present_list_text{padding:0 20px;font-size:13px;font-weight:700;color:rgba(0,0,0,.87);line-height:20px;letter-spacing:-.2px}
.container .content .present_list .present_list_text span{font-weight:900;color:#127eff}
.container .content .end_empty{text-align:center}
.container .content .end_empty .empty_thumb{margin-top:150px}
.container .content .end_empty .empty_thumb p{margin-top:16px;font-size:16px;font-weight:700;color:rgba(0,0,0,.38);line-height:28px;letter-spacing:-.24px}
.container .content .address{margin:32px 0;text-align:center}
.container .content .address p{font-size:12px;font-weight:700;color:rgba(0,0,0,.6);letter-spacing:-.18px;line-height:18px}
.container .content .address p strong{font-weight:900}
.container .content .quick_help{overflow-x:scroll;-webkit-overflow-scrolling:touch;padding:12px 20px 12px;white-space:nowrap;font-size:0}
.container .content .quick_help::-webkit-scrollbar{display:none}
.container .content .quick_help li{display:inline-block;margin-left:8px;vertical-align:top}
.container .content .quick_help li:first-child{margin-left:0}
.container .content .quick_help li a{display:block;padding:8px 16px;border:1px solid rgba(0,0,0,.38);border-radius:17px;font-size:13px;font-weight:700;color:rgba(0,0,0,.87)}
.container .content .quick_help li.quick_all a{background-color:#4b4f55;border-color:#4b4f55;color:#fff}
.container .content .anniversary_text{margin:20px 0 23px}
.container .content .anniversary_text p{font-size:14px;font-weight:400;color:rgba(0,0,0,.87);line-height:24px;letter-spacing:-.21px}
.container .content .anniversary_text p+p{margin-top:12px;font-size:18px;font-weight:700;line-height:30px;letter-spacing:-.27px}
.container .content .anniversary_text p+p strong{display:inline-block;position:relative;font-weight:900}
.container .content .anniversary_text p+p strong:before{content:'';position:absolute;bottom:4px;left:0;width:100%;height:11px;background-color:#0ec1b8;opacity:.3;z-index:-1}
.container .content .add_anniversary_text{font-size:14px;font-weight:900;color:rgba(0,0,0,.87);letter-spacing:-.21px;display:-webkit-box;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:1}
.container .content .button_add_anniversary{display:block;width:100%;height:60px;margin:16px 0 20px;border:1px solid rgba(0,0,0,.12);border-radius:16px;font-size:13px;font-weight:400;color:rgba(0,0,0,.87);letter-spacing:-.2px}
.container .content .button_add_anniversary strong{font-weight:900}
.container .content .button_add_anniversary:before{content:'';display:inline-block;margin-right:6px;vertical-align:top;background-image:url(/imgs/gft/mobile/sp_gift.png);width:16px;height:16px;background-position:-47px -66px;background-size:100px 100px;-webkit-background-size:100px 100px}
.img_coupon{margin-top:32px}
.card_form .birthday_input h3 .title_icon{display:inline-block;margin-right:10px;width:32px;height:32px;background-position:0 0;background-repeat:no-repeat;background-size:32px 32px;-webkit-background-size:32px 32px;vertical-align:middle}

/* 팝업 (arert) */
.mob_alert_wrap .sp_lux{display:inline-block;overflow:hidden;background:url(https://static.wehago.com/imgs/common/sp_lux.png) 0 0 no-repeat;line-height:100em;vertical-align:top;}
.mob_alert_wrap .alert_bx{position:relative;padding:40px 16px 30px;max-width:268px;background:#fff;border-radius:14px;box-sizing:border-box;}
.mob_alert_wrap .alert_bx .btn_close{position:absolute;top:16px;left:16px;width:24px;height:24px;border:none;background:none;}
.mob_alert_wrap .alert_bx .btn_close .sp_lux{width:14px;height:14px;background-position:-279px -54px;}
.mob_alert_wrap .alert_bx .title_area{text-align:center;}
.mob_alert_wrap .alert_bx .title_area > img{display:inline-block;margin-bottom:30px;}
.mob_alert_wrap .alert_bx .title_area > strong{display:block;font-size:16px;font-weight:bold;line-height:19px;color:rgba(0,0,0,.87);}
.mob_alert_wrap .alert_bx .cont_area{margin-top:18px;text-align:center;font-size:13px;line-height:20px;color:rgba(0,0,0,.6);}
.mob_alert_wrap .alert_bx .btn_area{margin-top:30px;}
.mob_alert_wrap .alert_bx .btn_area .btn_alert + .btn_alert{margin-top:8px;}
.mob_alert_wrap .alert_bx .btn_area .btn_alert{display:block;width:100%;height:48px;border:none;background:rgb(18,126,255);border-radius:24px;font-size:14px;font-weight:bold;line-height:21px;color:#fff;}
.mob_alert_wrap .alert_bx .btn_area .btn_alert.v2{background:rgb(235,236,239);color:rgba(0,0,0,.87);}